body {
  font-family: 'Times New Roman', sans-serif;
  background-color: #443012;
  color: lightgray;
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
  margin-left: 400px;
  margin-right: 400px;
}


header {
  font-family: 'Old English Text MT', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #1d242e;
  font-size: 72px;
  color: #DF0000;
  margin: 0;
  margin-bottom: 40px;
  border-radius: 20px;
}


.intro, .outro {
  background-color: #1d242e;
  padding: 20px;
  margin-bottom: 30px;
  color: lightgray;
  border-radius: 20px;
}


h1 {
  font-family: 'Palatino Linotype', sans-serif;
  color: #e5352b;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  font-weight: bold;
}


h2 {
  font-family: 'Palatino Linotype', sans-serif;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}


p {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: left;
}


ul {
  margin-bottom: 20px;
  font-size: 18px;
}










#container {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: lightgray;
  padding: 10px;
  padding-bottom: 20px;
  background-color: #1d242e;
  border-radius: 20px;
}

button {
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: lightcoral;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #fff3f3;
}

button:active {
  background-color: #ffcccc;
}

input {
  font-size: 24px;
  width: 75px;
  text-align: center;
  font-weight: bold;
}

#diceResult {
  margin: 25px;
}

#diceImages img {
  width: 100px;
  padding: 10px;

}
